@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(52, 52, 52);
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: black;
    padding: 20px;
    color: white;
    font-weight: 600;
}

.users {
    width: 50%;
    min-width: 300px;
}

.userInfo {
    background-color: rgb(53, 106, 88);
    margin: 10px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.userPrice {
    text-align: end;
}
aside {
    width: 25%;
    float: left;
}
.formAddUser {
    min-width: 300px;
    color: #fff;
    background-color: rgb(36, 18, 64);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.formAddUser input:not([type="checkbox"]), .formAddUser button, .formAddUser textarea{
    padding: 10px;
    background-color: rgb(43, 43, 43);
    -webkit-text-fill-color: #fff;
    border: 1px solid red;
    border-radius: 10px;
}

.formAddUser input[type="checkbox"] {
    transform: scale(1.1);
}

.formAddUser button {
    transition: transform .5s ease;
}

.formAddUser button:hover {
    transform: scale(1.05);
}

.EventBut {
    margin-left: 10px;
    float: right;
    transform: scale(1.5);
    opacity: .7;
}

.EventBut:hover {
    opacity: 1;
}